<%= render "partials/topbar" %>

<section class="hero-dashboard">
  <div class="row">
    <div class="large-6 large-push-2 columns">
      <div class="circle-bg quote-1">
        <p>Change your life.<br> You can do it.</p>
      </div>
    </div>
    <div class="large-6 large-pull-2 columns">
      <div class="circle-bg quote-2">
        <p>The journey of a thousand miles is made up of many small steps.</p>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="large-8 columns">
    <h4><div class="dash4">Resolutions</div></h4>
    <br>
    <% current_user.resolutions.current.reverse.each do |resolution| %>
    <div class="row">
      <div class="large-12 columns">
        <div class="card">
          <div class="content">
              <span><a href="#" data-reveal-id="myModal"> <%= resolution.title %></a></span>

                <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                  <p class="lead">Goals for <%= resolution.title %></p>
                  <% resolution.goals.each do |goal| %>
                    <h5><%= link_to goal.name, edit_resolution_goal_path(resolution, goal) %>
                    <%= link_to "Goal met", resolution_goal_complete_path(resolution, goal), method: :put, class: "tiny round button" %>
                    <%= link_to "Delete", resolution_goal_path(resolution, goal), method: :delete, class: "tiny round button alert" %></h5>
                  <% end %>
                  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
               <p><%= resolution.description %></p>
            </div>
                <div class="action">
                <%= link_to "Edit", edit_resolution_path(resolution) %>
                <%= link_to "Delete", resolution_path(resolution), method: :delete, data: {confirm: "This will remove your resolution. Are you sure?"} %>
                <%= link_to "Add Goal", new_resolution_goal_path(resolution) %>
                <%= link_to "Tweet This", resolution_tweets_path(resolution), method: :post %>
                <%= link_to "Mark Complete!", complete_path(resolution), method: :put %>
            </div>
        </div>
      </div>
    </div>
    <br>
    <% end %>
  </div>

  <aside class="large-4 columns hide-for-small">
    <h4><div class="dash4">Motivation</div></h4>
    <br>
    <ol>
      <% cache do %>
      <% current_user.inspirational_tweets.each do |tweet| %>
        <li><%= tweet.text %></li>
        <br>
      <% end %>
      <% end %>
    </ol>
  </aside>

</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>&copy; Copyright Creative License, 2015</p>
      </div>
    </div>
  </div>
</footer>
