<br>
<div class="large-6 large-centered columns">
  <%= form_for(@resolution, multiplart: true) do |f| %>
    <label for="resolution_title">Resolution</label>
    <%= f.text_field :title %>
    <label for="resolution_description">Reasons - Why are you doing it?</label>
    <%= f.text_area :description %>
    <%= f.label "Picture", class: "image-label" %>
    <%= f.file_field :motive_image %>
    <% if @resolution.id %>
      <%= f.submit "Edit", class: "button round small", method: :put %>
    <%else %>
      <%= f.submit "Create", class: "button round medium" %>
    <% end %>
  <% end %>
</div>
