<br>
<div class="large-6 large-centered columns">
  <%= form_for([@resolution, @goal]) do |f| %>
    <%= f.label "What is the goal you will use to fulfill your resolution", class: "edit-label" %>
    <%= f.text_field :name %>
    <% if @goal.id %>
      <%= f.submit "Edit", class: "button round small", method: :put %>
    <% else %>
      <%= f.submit "Create", class: "button round medium" %>
    <% end %>
  <% end %>
</div>
