<%= render "partials/topbar_profile" %>

<section class="hero-profile">
</section>

<div class="row">
  <div class="large-12 columns">
    <h4><div class="dash4">Hello, <%= current_user.name %>. Here are your Victories.</div></h4>
    <br>
  </div>
</div>
<% current_user.completed_resolutions.each do |resolution| %>
  <div class="row">
    <div class="large-12 columns">
      <div class="card">
        <div class="content">
          <span><a href="#" data-reveal-id="myModal"> <%= resolution.title %></a></span>

          <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <p class="lead">Goals completed for <%= resolution.title %></p>
            <% resolution.goals.each do |goal| %>
              <h5><%= goal.name %></h5>
            <% end %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
          <p><%= resolution.description %></p>
        </div>
        <div class="action">
          <%= link_to "Do this again!", again_path(resolution), method: :put %>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %>
